.auth-page {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);


    &:after {
        content: "";
        background-image: url("/public/images/main-page-bg.png");
        background-repeat: no-repeat;
        position: absolute;
        inset: 0;
        z-index: 0;
        filter: blur(2px) grayscale(30%);
    }
}

.auth-page > * {
    z-index: 1;
    position: relative;
}

.auth-page .auth-form-container {
    width: calc(100% - 20px);
    margin: 50px auto 0;
    border-radius: var(--deff-radius);
    padding: 20px;
    background-color: white;
    box-shadow: var(--bos-shadow);

}