.main-page-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
}

.world-map-container {
    width: calc(100% - 50px);
    height: 260px;
    margin: 20px auto 0;
    border-radius: 15px;
    overflow: hidden;
    display: block;
}

.world-map {
    /*width: 100%;*/
    /*height: auto;*/
}

.current-actions {
    margin: 10px;
    position: relative;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
}

.current-actions .title {
    color: var(--white);
}

.action-item-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.current-actions .action-item {

    padding: 20px;
    background-color: rgb(255 255 255 / 0.7);
    border-color: rgb(255 255 255 / 0.4);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.current-actions .action-item .action-item-inner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.current-actions .action-item.wheat .action-item-icon {
    background-color: var(--yellow-normal);
}

.current-actions .action-item.farm .action-item-icon {
    background-color: var(--primary-light);
}

.current-actions .action-item.flower .action-item-icon {
    background-color: var(--error-color-2);
    color: var(--white);
}

.current-actions .action-item.plant .action-item-icon {
    background-color: var(--primary-lighter);
    color: var(--neutral-normal);
}

.current-actions .action-item .action-item-icon {
    background-color: var(--primary-light);
    color: var(--neutral-normal);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.current-actions .action-item .action-item-text-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.current-actions .action-item .action-item-inner .earnings {
    margin-left: auto;
    background-color: var(--primary-lighter);
    padding: 0 10px;
    border-radius: 15px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}

.current-actions .action-item .action-item-inner .earnings span {
    font-weight: bold;
}

.current-actions .action-item .action-item-graph-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.current-actions .action-item .action-item-graph-info .graph-info-text {
    font-weight: bold;
}

.current-actions .action-item .action-item-graph-info .graph-info-graph {
    background-color: rgb(226 232 240 / 0.5);
    width: 100%;
    min-width: 70px;
    height: 10px;
}

.current-actions .action-item .action-item-graph-info .graph-info-graph .graph-info-graph-progress {
    --tw-bg-opacity: 1;
    background-color: rgb(0 99 151 / var(--tw-bg-opacity, 1));
    height: 10px;
}

.current-actions .action-item .action-item-text-info h3 {
    font-size: 16px;
}

.current-actions .action-item .action-item-text-info span {
    font-size: 14px;
}

.action-item-2-col .action-item .action-item-inner {
    flex-direction: column;
}

.action-item-2-col .action-item .action-item-inner .earnings {
    margin-left: unset;
}

.action-item-2-col .action-item.empty-slot {
    background-color: var(--secontary-lighter);
    position: relative;
    border: dashed 2px var(--neutral-light);
    color: var(--neutral-light);
}

.action-item-2-col .action-item.empty-slot > div {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

/*Market*/

.market-page-wrap {
    padding: 10px;
}

/*End Market*/


.map-button-zoom-container {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.map-button-zoom {
    width: 20px;
    height: 20px;
    background-color: var(--secontary-lighter);
    border-radius: 5px;
    border: solid 1px var(--secontary-normal);
}

.map-button-zoom.zoom-in,
.map-button-zoom.zoom-out {


}
