header {
    height: 60px;
    width: 100%;
    background-color: var(--neutral-lighter);
    color: var(--neutral-darker);
    z-index: 999;
    position: sticky;
    top: 0;
}

header > div.header-container {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    height: 60px;
    padding: 0 10px;
}

header .logo {
    cursor: pointer;
    height: 40px;
}

.notifications-info {
    margin-left: auto;
    position: relative;
    cursor: pointer;
    transition: .3s;

    &:hover {
        scale: 1.2;
    }
}

.notifications-info img {
    height: 30px;

}

.notifications-info .badge {
    position: absolute;
    top: -5px;
    right: -10px;
    min-width: 20px;
    height: 20px;
    background-color: var(--error-color);
    color: var(--white);
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
}

.auth-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.auth-actions .auth-btn {
    height: 30px;
    cursor: pointer;
    transition: scale 0.3s;

    &:hover {
        scale: 1.2;
    }
}

.footer-tab-nav {
    /*position: fixed;*/
    position: sticky;
    bottom: 0;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    width: 100%;
    max-width: 417px;
    height: 60px;
    background-color: var(--secontary-lighter);

    display: flex;
    flex-direction: row;
    align-items: center;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;

}

.footer-tab-nav .tab-nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    cursor: pointer;
}

.footer-tab-nav .tab-nav-item svg {
    color: var(--neutral-light);
}

.footer-tab-nav .tab-nav-item.active svg {
    color: var(--secontary-normal);
}

.map-wrap {
    position: relative;
    width: 100%;
    max-width: 1000px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
}

.map-img {
    width: 100%;
    display: block;
}

.marker {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 28px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.marker img {
    width: 30px;
    pointer-events: none;
}

.marker:hover {
    scale: 1.2;
}

.map-region-modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 9999;
}

.map-region-modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.map-region-modal-inner img.region {
    width: 100%;
}

.close-popup-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: scale 0.3s;

    &:hover {
        scale: 1.2;
    }
}

.btn {
    padding: 10px 20px;
    background-color: var(--neutral-light);
    color: var(--neutral-dark);
    border: solid 1px var(--neutral-normal);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;

    &:hover {
        background-color: var(--neutral-lighter);
        border: solid 1px var(--neutral-darker);
    }
}


.btn.btn-green {
    background-color: var(--primary-darker);
    color: var(--white);
    padding: 10px 20px;
    border: solid 1px var(--primary-darker);

    &:hover {
        background-color: var(--primary-normal);
    }
}
.btn.btn-danger {
    background-color: var(--error-color);
    color: var(--white);
    padding: 10px 20px;
    border: solid 1px var(--error-color);

    &:hover {
        background-color: var(--error-color-1);
    }
}

.btn.btn-blue {
    background-color: var(--secontary-normal);
    color: var(--white);
    padding: 10px 20px;
    border: solid 1px var(--secontary-light);

    &:hover {
        background-color: var(--secontary-darker);
    }
}

.btn.sm {
    padding: 7px 12px !important;
    font-size: 14px !important;
}


/*Margins and Paddings*/
.m-l-auto {
    margin-left: auto !important;
}

.m-b-1 {
    margin-bottom: 10px !important;
}

.m-b-2 {
    margin-bottom: 20px !important;
}

.m-t-1 {
    margin-top: 10px !important;
}

.m-t-2 {
    margin-top: 20px !important;
}

.m-t-3 {
    margin-top: 30px !important;
}

.p-t-1 {
    margin-top: 10px !important;
}

.p-t-2 {
    margin-top: 20px !important;
}

.text-notice {
    margin: 10px;
    padding: 10px;

    background-color: var(--yellow-lighter);
    color: var(--neutral-normal);
    font-size: 14px;
}


.b-shadow {
    box-shadow: var(--bos-shadow);
    border-radius: var(--deff-radius);
}

.error-msg {
    font-size: 13px;
    color: var(--error-color);
}


.alert {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--lightes-blue);
    color: var(--dark-gray);
    border: solid 1px var(--light-gray);
    margin-bottom: 10px;
}

.alert svg {
    display: flex;
    align-items: center;
    color: var(--dark-gray);
    margin-left: auto;
    cursor: pointer;
}

.alert.success {
    background-color: #d1e7dd;
    color: #0f5132;
    border: solid 1px #badbcc;
}

.alert.danger {
    background-color: #f8d7da;
    color: #842029;
    border: solid 1px #f5c2c7;
}

.alert.warning {
    background-color: #fff3cd;
    color: #664d03;
    border: solid 1px #ffecb5;
}


.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.confirm-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--deff-radius);
}

.confirm-modal .inner-confirm-modal {
    background: #fff;
    padding: 20px;
    border-radius: 8;
}
